* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(180deg, #9a72ae, #c59a89);
  background-size: cover;
  background-attachment: fixed;
  height: 2000px;
}
