.formsection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 4rem;
  padding-left: 10%;
  font-size: 1.5rem;
  flex-wrap: wrap;
  width: 90%;
}

.form {
  position: relative;
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 30px rgb(0, 0, 0);
  padding: 1rem 1rem 1rem 1rem;
}

.formquestion {
  display: block;
  padding-top: 1rem;
}

.forminput {
  border: 1px solid black;
  width: 90%;
  height: 40px;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.forminputerror {
  border: 3px solid #f44336;
  width: 90%;
  height: 40px;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
  font-size: 20px;
  letter-spacing: 0.1rem;
  outline: none;
}

.formbuttondiv {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.formbutton {
  background-color: #986dad;
  border: none;
  width: 80%;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 20px;
  letter-spacing: 0.2rem;
}

.formbutton:hover {
  background-color: #a039d3;
  cursor: pointer;
}

.loading {
  position: relative;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic 1s infinite linear;
}

.loading::before,
.loading::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.loading::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic-before 1s infinite linear;
}

.loading::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dot-elastic-after 1s infinite linear;
}

@media (max-width: 650px) {
  .form {
    font-size: 16px;
  }
  .forminput,
  .forminputerror {
    font-size: 15px;
  }
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
