.formsection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 4rem;
  padding-left: 10%;
  font-size: 1.5rem;
  flex-wrap: wrap;
  width: 90%;
}

.form {
  position: relative;
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 30px rgb(0, 0, 0);
  padding: 1rem 1rem 1rem 1rem;
}

.formquestion {
  display: block;
  padding-top: 1rem;
}

.forminput {
  border: 1px solid black;
  width: 90%;
  height: 40px;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  border-radius: 0.5rem;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.formbuttondiv {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.formbutton {
  background-color: #986dad;
  border: none;
  width: 80%;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 20px;
  letter-spacing: 0.2rem;
}

.formbutton:hover {
  background-color: #a039d3;
  cursor: pointer;
}

@media (max-width: 650px) {
  .form {
    font-size: 20px;
  }
  .forminput {
    font-size: 15px;
  }
}
