.formsection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 4rem;
  padding-left: 10%;
  font-size: 1.5rem;
  flex-wrap: wrap;
  width: 90%;
}

.form {
  border: 2px solid black;
  border-radius: 0.3rem;
  box-shadow: 4px 4px 30px rgb(0, 0, 0);
  padding: 1rem 1rem 1rem 1rem;
}

.formquestion {
  padding-top: 1rem;
}

.forminput {
  border: 1px solid black;
  width: 90%;
  height: 40px;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  border-radius: 0.3rem;
}

.formbuttondiv {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.formbutton {
  background-color: #c5c3c3;
  border: none;
  width: 30%;
  height: 2rem;
  border-radius: 0.3rem;
  font-size: 20px;
}

.formbutton:hover {
  background-color: #ebcac2;
  cursor: pointer;
}
