.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  font-size: 25px;
  line-height: 5rem;
  letter-spacing: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.headerbox {
  min-width: max-content;
}

.brand {
  text-shadow: 3px 3px #c59a89;
  text-align: center;
}

.headersubtitle {
  padding-top: 1rem;
}
