.modal {
  position: relative;
  width: 50%;
  margin: 0.5rem 0 0.8rem 25%;
  text-align: center;
  background-color: #f44336;
  border-radius: 2rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

@media (max-width: 650px) {
  .modal {
    width: 60%;
    margin: 0.5rem 0 0.8rem 20%;
  }
}
